<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
</head>
<body>
<h1>Delete Category</h1>
<a href="/categories">Back to Categories List</a>
<h2>Are you sure?</h2>
<form th:action="@{/delete-category}" method="post" th:object="${category}">
    <input th:type="hidden"  name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text"  th:field="*{name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete"></td>
        </tr>
    </table>


</form>
</body>
</html>
</body>
</html>